/* Abstand zwischen den Inputs verkleinern 
    !important stellt sicher, dass die Regel priorität hat*/
.form-group {
    margin-bottom: 0 !important;
}

/* CSS für menuItem-Texte in der Sidebar */
.sidebar-menu li a {
    font-weight: bold;
}

/* Textfeldbreite */
/*#yMin, #yMax {
  width: 150% !important;
}*/
.col-sm-6 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
}

/*
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden
}
*/

/* Header aendern
.main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
}
*/